<%= form_with model: @column, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :color_code, 'Choose Color' %>
    <%= form.select :color_code, options_for_select([['Red', '#FF0000'], ['Green', '#00FF00'], ['Blue', '#0000FF'], ['Yellow', '#FFFF00'], ['Purple', '#800080']]) %>
  </div>

  <div>
    <%= form.submit 'Create Column' %>
  </div>
<% end %>
