 <body class="bg-gray-900">
 <h1 class="absolute top-0 left-1/2 transform -translate-x-1/2 mt-4 text-6xl font-bold text-center text-teal-50 hover:underline">
    INTERN PROJECT
  </h1>

<!-- Modal HTML -->
<div id="cardModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
  <div class="flex flex-col mb-4 bg-slate-800 p-6 rounded-lg shadow-lg relative modal-content text-stone-50 text-xl">
    <p>Add a new card to Triage</p>
    <br>
      <%= render 'home/new_card_form' %>  
  </div>
</div>

<!-- Buton -->
<%= link_to '+ Add a card', '#', id: 'openModalButton', class: 'absolute top-11 left-50 bg-green-600 text-black border-none rounded-full py-2 px-3 text-lg cursor-pointer text-center z-50' %>



  <div class="w-full">
    <!-- 1. Dikdörtgen -->
    <div class="relative h-[250px] bg-gray-800 border-b border-gray-300 flex items-center px-1.5 overflow-x-auto">
      <div class="w-full h-[200px] bg-gray-800 border border-gray-300 text-white">
        <!-- ID 1 olan column'un içeriği buraya gelir -->
        
          <%=@column_title_1%>
        (<%= @column_card_counts[1] %>)
        <!--------------------------------------------------------------->
         <%# <div style="display: flex; flex-wrap: nowrap; align-items: flex-start;">  %>
        <div class="flex-nowrap flex gap-2 items-start">
          <% @cards.each do |card| %>
            <%= link_to user_card_path(card.user, card), class: "block" do %>
            <div class="border border-gray-300 p-2.5 m-1.25 bg-gray-800 rounded-sm shadow-md flex-auto">
              <h3><%= card.title %></h3>
              <p><%= card.description %></p>
              <!----------------->
              <p class="text-xs text-gray-500 mt-1">
                By <%= card.user.name %> <%= card.user.lastname[0].capitalize %>. <%= time_ago_in_words(card.created_at) %> ago
              </p>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
      <div class="w-[100px] h-[230px] bg-gray-600 border border-gray-300 ml-auto text-white">
        <!-- ID 2 olan column'un içeriği buraya gelir -->
         (<%= @column_card_counts[2] %>)
        <div class="inline-block rotate-90 origin-bottom-left whitespace-nowrap text-white text-xl">
        <%=@column_title_2.upcase%>
        </div>
      </div>
    </div>

    <!-- 2. Dikdörtgen -->
    <div class="w-auto h-[600px] bg-gray-800 border border-gray-300 relative mt-px flex flex-col items-start p-2.5">
      <%# <%= link_to 'Add New Column', new_column_path, class: 'btn-primary' %> 
      <!------------------------ modal buton ------->

      <button id="openColumnModalButton" class="absolute top-9 right-28 w-8 h-8 bg-[#34AADC] text-white border-none rounded-full flex items-center justify-center text-2xl cursor-pointer">+</button>


      <!------------------------ modal buton ------->

      <div class="absolute top-1 right-0 w-[100px] h-[590px] bg-green-900 border border-[#ccc] text-white justify-center">
        <!-- ID 3 olan column'un içeriği buraya gelir -->
        (<%= @column_card_counts[3] %>)
        <div class="inline-block rotate-90 origin-bottom-left whitespace-nowrap text-white text-xl">
        <%=@column_title_3.upcase%>
        </div>
      </div>

      <!-- Dinamik Columns -->
      <div class="flex flex-nowrap overflow-x-auto w-[1330px] mt-2 ">
      <% @dynamic_columns.each do |column| %>
        <div class="w-80 h-32 border border-gray-300 m-1.5 flex justify-center text-white rounded-sm " style="background-color: <%= column.color_code %>;">
          <div class="flex flex-col">
          <h4 class="text-white font-bold mb-1 mt-2.5"><%= column.title %> (<%= @column_card_counts[column.id] %>) </h4>

          
            
          </div>      
        </div>
      <% end %>
      </div>
    </div>
  </div>

<!-- Second Modal HTML -->
<div id="columnModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
  <div class="flex flex-col bg-slate-800 p-6 rounded-lg shadow-lg relative modal-content text-stone-50 text-xl">
    <p class="text-lg font-bold">Add a new column</p>
    <br>
        <%= render 'home/new_column_form' %>
  </div>
</div>
  
</body>