 <body class="bg-gray-900">
 <h1 class="absolute top-0 left-1/2 transform -translate-x-1/2 mt-4 text-6xl font-bold text-center text-teal-50 hover:underline">
    INTERN PROJECT
  </h1>


  <% if session[:user_id] %>
  <%= button_to 'Logout', logout_path, method: :delete, class: ' absolute top-10 right-10 bg-red-500 text-white px-4 py-2 rounded-full' %>
<% end %>

<!-- Modal HTML -->
<div id="cardModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
  <div class="flex flex-col mb-4 bg-slate-800 p-6 rounded-lg shadow-lg relative modal-content text-stone-50 text-xl">
    <p>Add a new card to Triage</p>
    <br>
      <%= turbo_frame_tag "add-new-card", src: new_column_card_path(@column.id) %>
  </div>
</div>

<!-- Buton -->
<%= link_to '+ Add a card', '#', id: 'openModalButton', class: 'absolute top-11 left-50 bg-green-600 text-black border-none rounded-full py-2 px-3 text-lg cursor-pointer text-center z-50', data: { column_id: 1, toggle: 'modal' } %>



  <div class="w-full">
    <!-- 1. Dikdörtgen -->
    <div class="relative h-[250px] bg-gray-800 border-b border-gray-300 flex items-center px-1.5 overflow-x-auto">
      <div class="w-full h-[200px] bg-gray-800 border border-gray-300 text-white">
        <!-- ID 1 olan column'un içeriği buraya gelir -->
            <%= link_to column_path(1), class: "text-white" do %>
          <%=@column_title_1%>
          <% end %>
        (<%= @column_card_counts[1] %>)
        <!--------------------------------------------------------------->
         <%# <div style="display: flex; flex-wrap: nowrap; align-items: flex-start;">  %>
        <div class="flex-nowrap flex gap-2 items-start">
          <% @cards.where(column_id: 1).each do |card| %>
            <%= link_to column_card_path(card.column, card), class: "block" do %>
            <div class="border border-gray-300 p-2.5 m-1.25 bg-gray-800 rounded-lg shadow-md flex-auto">
              
              <h3><%= card.title %></h3>
              <p><%= card.description %></p>
              <!----------------->
              <p class="text-xs text-gray-500 mt-1">
                By <%= card.user.name %> <%= card.user.lastname[0].capitalize %>. <%= time_ago_in_words(card.created_at) %> ago
              </p>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
      <div class="w-[100px] h-[230px] bg-gray-600 border border-gray-300 ml-auto text-white">
        <!-- ID 2 olan column'un içeriği buraya gelir -->
         (<%= @column_card_counts[2] %>)
        <div class="inline-block rotate-90 origin-bottom-left whitespace-nowrap text-white text-xl">
          <%= link_to column_path(2), class: "text-white" do %>
        <%=@column_title_2.upcase%>
        <% end %>
        </div>
      </div>
    </div>

    <!-- 2. Dikdörtgen -->
    <div class="w-auto h-[600px] bg-gray-800 border border-gray-300 relative mt-px flex flex-col items-start p-2.5">

      
      <%# <%= link_to 'Add New Column', new_column_path, class: 'btn-primary' %> 
      <!------------------------ modal buton ------->

      <button id="openColumnModalButton" class="absolute top-9 right-28 w-8 h-8 bg-[#34AADC] text-white border-none rounded-full flex items-center justify-center text-2xl cursor-pointer">+</button>


      <!------------------------ modal buton ------->

      <div class="absolute top-1 right-0 w-[100px] h-[590px] bg-green-900 border border-[#ccc] text-white justify-center">
        <!-- ID 3 olan column'un içeriği buraya gelir -->
        (<%= @column_card_counts[3] %>)
        <div class="inline-block rotate-90 origin-bottom-left whitespace-nowrap text-white text-xl">
          <%= link_to column_path(3), class: "text-white" do %>
        <%=@column_title_3.upcase%>
         <% end %>
        </div>
      </div>

      <!-- Dinamik Columns -->
      <div class="flex flex-nowrap overflow-x-auto w-[1330px] mt-2 ">
      <% @dynamic_columns.each do |column| %>

      
        
        
        <div class="w-80 h-auto border border-gray-300 m-1.5 flex flex-col justify-center text-white rounded-lg relative" style="background-color: <%= column.color_code %> ;">
            
          <!--- bas -->
             <div class="absolute top-1 right-1">
    <button id="dropdownButton-<%= column.id %>" class="w-6 h-6 flex items-center justify-center border border-1 rounded-full text-white">...</button>
    <!-- Dropdown Menu -->
    <div id="dropdownMenu-<%= column.id %>" class="hidden absolute right-0 top-full mt-2 bg-gray-700 text-white rounded-lg shadow-lg w-48">
      <ul>
        <li><ul class="flex space-x-2 mt-3">
  <li><button data-color="#9E2B3A" class="w-6 h-6 rounded-full bg-[#9E2B3A]"></button></li>
  <li><button data-color="#088331" class="w-6 h-6 rounded-full bg-[#088331]"></button></li>
  <li><button data-color="#3799BD" class="w-6 h-6 rounded-full bg-[#3799BD]"></button></li>
  <li><button data-color="#D0A945" class="w-6 h-6 rounded-full bg-[#D0A945]"></button></li>
  <li><button data-color="#A66DB8" class="w-6 h-6 rounded-full bg-[#A66DB8]"></button></li>
</ul></li>
        <li><%= link_to 'Add card', '#', id: 'openModalButton', class: 'block px-4 py-2 hover:bg-gray-700 w-full text-left', data: { column_id: column.id, toggle: 'modal' } %>
          </li>
        <%= form_with url: column_path(column), method: :delete, local: true do %>
                <button type="submit" class="block px-4 py-2 hover:bg-gray-700 w-full text-left">Put in the trash</button>
              <% end %>
      </ul>
    </div>
  </div>


            <!----bit-->
          <div class="flex flex-col flex-grow overflow-y-auto p-2">
          <h4 class="text-white font-bold mb-1 mt-2.5 flex justify-center">
            <%= link_to column_path(column), class: "text-white" do %>
            <%= column.title %> 
            <% end %> 
            (<%= @column_card_counts[column.id] %>) </h4>
            <div class="w-full border-dashed  flex flex-col rounded-lg" >
              <!----buraya yazılacak---->
               <% column.cards.each do |card| %> <!-- Kolonun cardlarını döngü ile listeleme -->
               <%= link_to column_card_path(card.column, card), class: "block" do %>
            <div class="p-3 bg-gray-800 rounded-lg mb-4">

              <h5 class="text-sm font-bold"><%= card.title %></h5>

              <p><%= card.description %></p>
              <!----------------->
              <p class="text-xs text-gray-500 mt-1">
                By <%= card.user.name %> <%= card.user.lastname[0].capitalize %>. <%= time_ago_in_words(card.created_at) %> ago
              </p>
            </div>
          <% end %>
          <% end %>


            </div>
          
            
          </div>      
        </div>
      <% end %>
      </div>
    </div>
  </div>

<!-- Second Modal HTML -->
<div id="columnModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
  <div class="flex flex-col bg-slate-800 p-6 rounded-lg shadow-lg relative modal-content text-stone-50 text-xl">
    <p class="text-lg font-bold">Add a new column</p>
    <br>
       <%= turbo_frame_tag "add-new-card", src: new_column_path %>
  </div>
</div>
  
</body>
